* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background-color: #5d6ac0;
  color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.header-nav {
  column-gap: 24px;
  display: flex;
}

.header-link {
  color: #f3f3f3;
  text-decoration: none;
  text-shadow: 3px 3px 10px black;
  transition: 0.25s ease-in-out;
}

.header-link:hover {
  filter: brightness(125%);
}

.header-link:active {
  filter: brightness(75%);
}

/* Loading */

@keyframes spinner {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  align-content: center;
  align-items: center;
  column-gap: 12px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.loading span {
  font-weight: 600;
}

.loading-spinner {
  animation: spinner 1.5s linear infinite;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #5d6ac0;
  height: 16px;
  width: 16px;

}
