@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Fira+Sans:wght@400;500;600;700;800&display=swap') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* colors */
body {
  background-color: #1e1e2e;
  color: #cdd6f4;
  font-family: Fira Sans , sans-serif;
}

.blue {
  background-color: #89b4fa;
}

.green {
  background-color: #a6e3a1;
}

.link-no-decoration {
  color: #cdd6f4;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}

.link-no-decoration:hover {
  filter: brightness(125%);
}

.link-no-decoration:active {
  filter: brightness(75%);
}

/* search */
.search-container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-top: 48px;
  row-gap: 48px;
}

.search-form {
  background-color: #313244;
  border-radius: 8px;
  display: flex;
  flex-flow: column wrap;
  padding: 12px;
  row-gap: 12px;
}

.search-results {
  align-items: baseline;
  background-color: #313244;
  border-radius: 8px;
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
  justify-content: center;
  margin: 0 50px;
  padding: 50px 25px;
}

.results-text {
  background-color: #313244;
  border-radius: 8px;
  padding: 12px;
}

/* Button */
button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  padding: 8px;
  transition: 0.25s ease-in-out;
}

button:hover {
  filter: brightness(125%);
}

button:active {
  filter: brightness(75%);
}

button:disabled {
  filter: saturate(25%) brightness(75%);
}

input {
  background-color: #eff1f5;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  color: #4c4f69;
  padding: 8px;
  width: 392px;
}

input:focus {
  border: 0;
}

input:active {
  border: 0;
}

/* Header */
.header {
  align-items: baseline;
  background-color: #a6e3a1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 0 8px 8px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  color: #313244;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  padding: 32px;
}

.header-nav {
  column-gap: 24px;
  display: flex;
}

.header-link {
  border-bottom: 1px solid #313244;
  color: #313244;
  padding: 6px;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}

.header-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  filter: brightness(125%);

}

.header-link:active {
  filter: brightness(75%);
}

/* login */
.login-container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: center;
  row-gap: 48px;
}

.login-title {
  font-size: 48px;
  font-weight: 600;
}

.login-form {
  background-color: #313244;
  border-radius: 8px;
  column-gap: 12px;
  display: flex;
  padding: 32px;
}

/* Loading */

@keyframes spinner {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  align-content: center;
  align-items: center;
  column-gap: 12px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.loading span {
  font-weight: 600;
}

.loading-spinner {
  animation: spinner 1.5s linear infinite;
  border: 4px solid #cdd6f4;
  border-radius: 50%;
  border-top: 4px solid #11111b;
  height: 16px;
  width: 16px;
}

/* album card */
.album-card {
  background-color: #11111b;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: column;
  padding-bottom: 24px;
  width: 200px;
}

.album-art {
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}

.album-info {
  display: flex;
  flex-flow: column nowrap;
  margin: 12px 8px;
  row-gap: 12px;
}

.album-title {
  font-weight: 700;
}

/* album page */
.album-songs-container {
  align-items: flex-start;
  column-gap: 48px;
  display: flex;
  justify-content: center;
  margin: 0 24px;
  padding: 48px;
}

.album-art-info {
  background-color: #313244;
  border-radius: 8px;
  display: flex;
  flex-basis: 1;
  flex-flow: column wrap;
  padding: 24px;
  row-gap: 24px;
}

.album-art-info img {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  width: 200px;
}

.album-art-info span {
  margin: -8px 0;
}

.album-title-detail {
  font-size: 28px;
  font-weight: 700;
}

.artist-title-detail {
  font-size: 20px;
  font-weight: 500;
}

.songs-list {
  display: flex;
  flex-basis: 2;
  flex-flow: column wrap;
  row-gap: 12px;
}

/* music card */
.music-card {
  align-items: center;
  background-color: #4c4f69;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  column-gap: 36px;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: space-between;
  padding: 6px;
}

.favorite-check {
  display: flex;
  width: 12px;
}

.music-card-right {
  column-gap: 12px;
  display: flex;
  margin-right: 10px;
}

/* misc */
.header-logo-tunes {
  font-weight: 800;
}

strong {
  color: #a6e3a1;
  font-weight: 800;
}

.favorite-songs-list {
  display: flex;
  flex-flow: column wrap;
  padding: 48px;
  row-gap: 24px;
}
